/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

b {
    color: var(--db-btn);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 70px;
    padding-top: 100px;
    padding-right: 70px;
    padding-bottom: 50px;
}

img {
    max-width: 100%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
    position: relative;
}

.col {
    width: 30%;
    border: 1px solid lightgray;
    margin-top: 40px;
}

.col-w100 {
    width: 100%;
    margin-top: 45px;
    border: 1px solid lightgray;

}

/*utilities*/
:root {
    --db-white: #ffffff;
    --db-black: #000000;
    --db-jumbotron: #b4d0e6;
    --db-btn: #0061fe;

}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 70%;
    margin: auto;
}

.big-container {
    width: 80%;
    margin: auto;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.padding {
    padding: 30px;

}

.btn {
    background-color: var(--db-btn);
    padding: 10px;
    color: var(--db-white);

}

/*debug*/
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: blue;
    height: 100px;
}

.debug .container {
    background-color: pink;
    height: 500px;
}

.debug .w-30,
.debug .w-70 {
    background-color: aliceblue;
    height: 400px;
}

.debug .row {
    background-color: yellow;
    height: 400px;
}

.debug .col-3 {
    background-color: red;
    height: 200px;
}

.debug .col,
.debug .col-w100 {
    background-color: purple;
}

.debug footer {
    background-color: lightgreen;
    height: 400px;
}

/*header*/
header {
    padding: 20px 10px;
    background-color: var(--db-white);

    .align-items {
        align-items: center;
    }

    a {
        color: var(--db-black);
        text-decoration: none;
        padding: 10px;

    }
}

.log-in {
    background-color: var(--db-btn);
    color: var(--db-white);
}

/*#jumbotron*/
#jumbotron {
    background-color: var(--db-jumbotron);

    p {
        margin-bottom: 50px;
        padding-right: 20px;
        font-size: 18px;

    }

}

.delete {
    display: block;
    margin-top: 50px;
}

.icon {
    margin-top: 65px;
    display: block;
    font-size: 50px;

}

.jumbo-img {
    position: absolute;
    top: 0;
    max-width: 100%;
}

/*#plans*/
#plans {
    margin-top: 100px;
    border-top: 1px solid lightgray;

    h2 {
        font-size: 34px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h3 {
        padding-bottom: 20px;
    }

    label {
        padding-right: 40px;
    }

    a {
        color: var(--db-btn);
    }

}

.option {
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;


}

.type-plans {
    padding: 20px;
    position: relative;

    p {
        padding-top: 40px;
        padding-right: 300px;
    }
}

.price {

    padding-bottom: 10px;
    display: block;
}

.period {
    color: lightgray;
}

.small-box {
    padding: 40px 20px;
}


.characteristics {
    padding-bottom: 20px;

}

.buy {
    padding: 0 20px;

    span {
        display: block;
        margin-bottom: 25px;
    }

}

.office {
    position: absolute;
    top: 20px;
    right: 30px;
}

.info-plans {
    padding: 50px 20px;

    li {
        padding-top: 20px;
    }
}

/*partner*/
#partner {



    .w-30 {
        padding: 40px 20px;

        h3 {
            margin-bottom: 20px;
        }

        button {
            padding: 10px 15px;
            background-color: var(--db-white);
            margin-top: 30px;
        }

    }
}

/*businnes*/
.col-3 {
    width: 30%;
    margin-top: 30px;

    h3 {
        margin-top: 5px;
        margin-bottom: 30px;
        padding-right: 30px;
    }

    p {
        padding-right: 40px;
    }
}

.container {

    h2 {
        margin: 30px 0;
        font-size: 30px;
    }

}

.feedback {
    margin-top: 150px;
    padding-right: 400px;

    a {
        font-size: 12px;
        color: var(--db-btn);
    }
}

/*footer*/
footer {
    background-color: var(--db-black);
    margin-top: 100px;
    padding: 40px 0;
}

.col-5 {
    width: 20%;
    padding: 10px 0;

    h4 {
        color: var(--db-white);
        font-size: 18px;
        padding-bottom: 10px;
    }

    li {
        color: var(--db-white);
        font-size: 12px;
        padding-top: 10px;
    }


}

hr {
    width: 120px;
    margin-top: 60px;
    border: 1px solid lightgray;
}

.lenguage {
    color: var(--db-white);
    margin-top: 40px;
}